<ion-header>
  <ion-toolbar>
    <ion-title>{{'uploadhistory' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!csvsDigital" (click)="refresh()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="closemodal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <div *ngIf="csvsDigital && csvsDigital.length === 0">
      <ion-text>{{ "listIsEmpty" | translate }}</ion-text>
    </div>
    <div class="ion-text-center" *ngIf="!csvsDigital">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ng-container *ngFor="let csv of csvsDigital">
        <ng-container *ngIf="csv.Key !== ''">
          <ion-item>
            <ion-label>{{ csv.LastModified | date: 'dd/MM/yyyy hh:mm:ss a' : 'local'}}
            </ion-label>
            <ion-badge slot="end">{{ csv.Size | format:false }}</ion-badge>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>
  </ion-grid>
</ion-content>
